/*Style footer*/
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left, .footer-right{
    display: flex;
    flex-direction: column;
}

.footer-right p, .footer-left p {
    margin: 0;
    margin-bottom: 0.5rem;
}