<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals - Fitness Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<div th:replace="navbar :: navbar"></div>

<!-- Activities Page Content -->
<div class="container my-5">
    <h2 class="text-center">Meals</h2>
    <a href="/meals-all/add-meals" class="btn btn-primary mb-3">Add New Meal</a>
    <h2 class="text-center">Past Meals</h2>
    <div class="list-group">
        <div th:each="meal : ${meals}" class="list-group-item">
            <h5 th:text="${meal.id}">1</h5>
            <h5 th:text="${meal.breakfast}"></h5>
            <h5 th:text="${meal.lunch}"></h5>
            <h5 th:text="${meal.dinner}"></h5>
            <h5 th:text="${meal.snack}"></h5>
            <h5 th:text="${meal.totalCalories}"></h5>
            <form th:action="@{/meals/delete/{id}(id=${meal.id})}" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

</div>
<!-- Footer -->
<div th:replace="footer :: footer"></div>
</body>
</html>