<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Footer -->
<footer th:fragment="footer" class="text-muted py-4 bg-light">
    <div class="footer-container">
        <div class="footer-left">
            <p class="mb-1" th:text="#{footer.copyright}">© 2024 Fitness Tracker</p>
            <p class="mb-0" th:text="#{footer.newToFitnessTracker}">New to Fitness Tracker? <a th:href="@{/}">Visit the homepage.</a></p>
        </div>
        <div class="footer-right">
            <p class="float-end mb-1"><a href="#" th:text="#{footer.backToTop}">Back to top</a></p>
            <p class="mb-1"><a th:href="@{/contact}" th:text="#{footer.contactUs}">Contact us</a></p>
        </div>
    </div>
</footer>

</body>
</html>