<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.navbar}">Navbar</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<!-- Navbar Fragment -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="#{navbar.brand}">Fitness Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" th:unless="${@userSession.isLoggedIn()}">
                        <a class="nav-link" th:href="@{/}" th:text="#{navbar.home}">Home</a>
                    </li>
                    <li class="nav-item" th:unless="${@userSession.isLoggedIn()}">
                        <a class="nav-link" th:href="@{/features}" th:text="#{navbar.features}">Features</a>
                    </li>
                    <li class="nav-item" th:unless="${@userSession.isLoggedIn()}">
                        <a class="nav-link" th:href="@{/pricing}" th:text="#{navbar.pricing}">Pricing</a>
                    </li>
                    <li class="nav-item" th:unless="${@userSession.isLoggedIn()}">
                        <a class="nav-link" th:href="@{/register}" th:text="#{navbar.register}">Register</a>
                    </li>
                    <li class="nav-item" th:unless="${@userSession.isLoggedIn()}">
                        <a class="nav-link" th:href="@{/login}" th:text="#{navbar.login}">Login</a>
                    </li>
                    <li th:if="${@userSession.isLoggedIn()}" class="nav-item">
                        <a class="nav-link" th:href="@{/home}" th:text="#{navbar.dashboard}">Dashboard</a>
                    </li>
                    <li th:if="${@userSession.isLoggedIn()}" class="nav-item">
                        <a class="nav-link" th:href="@{/workout-all/workouts}" th:text="#{navbar.workouts}">Workouts</a>
                    </li>
                    <li th:if="${@userSession.isLoggedIn()}" class="nav-item">
                        <a class="nav-link" th:href="@{/meals-all/meals}" th:text="#{navbar.foodTracking}">Food Tracking</a>
                    </li>
                    <li th:if="${@userSession.isLoggedIn()}" class="nav-item">
                        <a class="nav-link" th:href="@{/activity-all/activity}" th:text="#{navbar.activities}">Activities</a>
                    </li>
                    <li th:if="${@userSession.isLoggedIn()}" class="nav-item">
                        <a class="nav-link text-primary active h5 text-stroke" th:href="@{/logout}" th:text="#{navbar.logout}"> Logout </a>
                    </li>
                    <li class="nav-item">
                        <form th:method="get">
                            <label class="text-white" for="lang" th:text="#{navbar.language}">Language</label>
                            <select id="lang" name="lang" onchange="this.form.submit()">
                                <option value="en_US" th:selected="${#locale.toString()} == 'en_US'" th:text="#{navbar.language.english}">English</option>
                                <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'" th:text="#{navbar.language.bulgarian}">Български</option>
                                <option value="fr_FR" th:selected="${#locale.toString()} == 'fr_FR'" th:text="#{navbar.language.french}">Français</option>
                            </select>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>